{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>🌷 Story 9</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="story9-bg">

    <!-- soft background decor -->
    <div class="flowers"></div>

    <!-- main card -->
    <div class="glass-card fade-in story9-card">

        <h1>🌷 This Is Who You Are To Me</h1>

        <p>You’re not just someone I love.<br>
        You’re someone who changed me.</p>

        <p>You calm me without even trying.<br>
        You make hard days feel lighter.<br>
        Somehow, just hearing your voice fixes everything.</p>

        <p>Because of you, I think more carefully.<br>
        I care more deeply.<br>
        </p>

        <p>Being with you doesn’t feel loud or dramatic.</p>

        <p class="highlight">It feels safe.<br>
        It feels warm.<br>
        It feels like home. 💜</p>

        <p>And honestly…<br>
        that means more than anything to me.</p>

        <a href="{% url 'story9_last' %}" class="next-btn">Next →</a>

    </div>

<script src="{% static 'js/flowers.js' %}"></script>

</body>
</html>
